{% extends 'base.html' %}
{% set active = 'purchases' %}
{% block title %}Purchases{% endblock %}
{% block content %}
            <p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Tea</th>
                            <th>Purchases</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for tea_id, tea, num in rows %}
                        <tr>
                            <td><a href="/tea/{{ tea_id }}">{{ tea }}</a></td>
                            <td>{{ num }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                    {% set min_page = active_page - 5 if active_page - 5 > 1 else 1 %}
                    {% set max_page = active_page + 5 if active_page + 5 < pages else pages %}
                        {% if min_page > 1 %}<li><a>...</a></li>{% endif %}
                    {% for page in range(min_page, max_page + 1) %}
                        <li{% if page == active_page %} class="active"{% endif %}>
                            <a href="{{ url_for('purchases', page=page) }}">{{ page }}</a>
                        </li>
                    {% endfor %}
                        {% if max_page < pages %}<li><a>...</a></li>{% endif %}
                    </ul>
                </nav>
            </p>
{% endblock %}
